### Citibike
    Прочитать данные из CSV-файла в DataFrame.
    Создать копию первоначального DataFrame.
    Вывести информацию о DataFrame и первые строки таблицы.

In [85]:
import pandas as pd

citibike_trip = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_trip_cp = citibike_trip.copy()
citibike_trip.info()
citibike_trip.head(n=10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
5,2018-09-01 00:00:29.3030,2018-09-01 00:55:56.2020,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,21693,Subscriber,1977,2
6,2018-09-01 00:00:27.2780,2018-09-01 00:04:20.7420,3526.0,31 St & 23 Ave,40.774788,-73.912555,3532.0,Ditmars Blvd & 19 St,40.781450,-73.918330,29789,Subscriber,1989,1
7,2018-09-01 00:00:31.4250,2018-09-01 00:05:17.4110,358.0,Christopher St & Greenwich St,40.732916,-74.007114,405.0,Washington St & Gansevoort St,40.739323,-74.008119,32861,Subscriber,1991,1
8,2018-09-01 00:00:30.9660,2018-09-01 00:19:18.4710,285.0,Broadway & E 14 St,40.734546,-73.990741,405.0,Washington St & Gansevoort St,40.739323,-74.008119,25039,Subscriber,1982,1
9,2018-09-01 00:00:42.1670,2018-09-01 00:07:45.6770,319.0,Fulton St & Broadway,40.711066,-74.009447,426.0,West St & Chambers St,40.717548,-74.013221,20508,Subscriber,1974,2

### Citibike
    Сколько пропусков в столбце start station id?

In [86]:
mising = citibike_trip_cp['start station id'].isna().sum()
print('Number of missing values in start station id:', mising)

Number of missing values in start station id: 169

### Citibike
    Какой тип данных имеют столбцы starttime и stoptime?

In [87]:
citibike_trip_cp[['starttime', 'stoptime']].dtypes

starttime    object
stoptime     object
dtype: object

### Citibike
    Преобразовать столбцы starttime и stoptime в формат datetime.

In [88]:
citibike_trip_cp['starttime'] = pd.to_datetime(citibike_trip_cp['starttime'])
citibike_trip_cp['stoptime'] = pd.to_datetime(citibike_trip_cp['stoptime'])
citibike_trip_cp[['starttime', 'stoptime']].dtypes

starttime    datetime64[ns]
stoptime     datetime64[ns]
dtype: object

### Citibike
    Найдите идентификатор самой популярной стартовой стоянки.

In [89]:
mode_start_station = citibike_trip_cp['start station id'].mode()[0]
print('Most popular start station id:', round(mode_start_station))

Most popular start station id: 281

### Citibike
    Велосипед с каким идентификатором является самым популярным?

In [90]:
mode_bike_id = citibike_trip_cp['bikeid'].mode()[0]
print('Most popular bike id:', mode_bike_id)

Most popular bike id: 33887

### Citibike
    Какой тип клиентов является преобладающим — Subscriber или Customer?
    Найдите долю клиентов преобладающего типа среди общего количества клиентов.

In [91]:
predominant_type = citibike_trip_cp['usertype'].mode()[0]
print('Predominant type:', predominant_type)
proportion = citibike_trip_cp['usertype'].value_counts(normalize=True)[predominant_type]
print('Proportion of predominant type:', round(proportion, 2))

Predominant type: Subscriber
Proportion of predominant type: 0.77

### Citibike
    Кто больше занимается велоспортом — мужчины (gender=1) или женщины (gender=2)?
    Найдите число поездок для той группы, у которой их больше.

In [92]:
mask = (citibike_trip_cp['gender'] == 1) | (citibike_trip_cp['gender'] == 2)
predominant_gender = citibike_trip_cp.loc[mask, 'gender'].mode()[0]
print(f'Predominant gender: {predominant_gender} {"- мужчины" if predominant_gender == 1 else "- женщины"}')
num_trips = citibike_trip_cp.loc[citibike_trip_cp['gender'] == predominant_gender].shape[0]
print('Number of trips for predominant gender:', num_trips)

Predominant gender: 1 - мужчины
Number of trips for predominant gender: 183582

### Citibike
    Найдите число уникальных стартовых и конечных стоянок

In [93]:
unique_start_stations = citibike_trip_cp['start station id'].nunique()
unique_end_stations = citibike_trip_cp['end station id'].nunique()
print('Number of unique start/end stations:', unique_start_stations, unique_end_stations)
print(unique_start_stations == unique_end_stations)

Number of unique start/end stations: 759 765
False

### Citibike
    Найдите название стоянки, где завершается наибольшее количество поездок.

In [94]:
mode_end_station_name = citibike_trip_cp['end station name'].mode()[0]
print('End station name with the most trips ending there:', mode_end_station_name)

End station name with the most trips ending there: West St & Chambers St

### Citibike
    Найдите название самой непопулярной стартовой стоянки из тех, которыми воспользовались клиенты

In [95]:
mode_start_station_name = citibike_trip_cp['start station name'].value_counts().index[-1]
print('The least popular starting station is:', mode_start_station_name)

The least popular starting station is: Eastern Pkwy & Washington Ave

### Citibike
    Удалите признаки идентификаторов стоянок.

In [96]:
if 'start station id' in citibike_trip_cp.columns and 'end station id' in citibike_trip_cp.columns:
    citibike_trip_cp = citibike_trip_cp.drop(['start station id', 'end station id'], axis=1)
print(citibike_trip_cp.shape)
citibike_trip_cp.head()

(300000, 12)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

### Citibike
    Замените признак birth year age. Годом отсчёта возраста выберите 2018 год.
    Столбец birth year удалите из таблицы.
    Сколько поездок совершено клиентами старше 60 лет?

In [97]:
citibike_trip_cp['age'] = 2018 - citibike_trip_cp['birth year']
if 'birth year' in citibike_trip_cp.columns:
    citibike_trip_cp = citibike_trip_cp.drop('birth year', axis=1)
num_trips_over_60 = citibike_trip_cp[citibike_trip_cp['age'] > 60].shape[0]
print('Number of trips by clients over 60 years old:', num_trips_over_60)

Number of trips by clients over 60 years old: 11837

### Citibike
    Создайте признак trip duration in minutes (продолжительность поездки в минутах).
    Сколько целых минут длилась поездка под индексом 3 в таблице?

In [98]:
citibike_trip_cp['starttime'] = pd.to_datetime(citibike_trip_cp['starttime'])
citibike_trip_cp['stoptime'] = pd.to_datetime(citibike_trip_cp['stoptime'])
citibike_trip_cp['trip duration in minutes'] = (citibike_trip_cp['stoptime'] - citibike_trip_cp['starttime']).dt.total_seconds() / 60
trip_duration_index_3 = int(citibike_trip_cp.loc[3, 'trip duration in minutes'])
print('Trip duration in minutes for index 3:', trip_duration_index_3)

Trip duration in minutes for index 3: 7

### Citibike
    Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае.
    Выясните, сколько поездок начиналось в выходные.

In [99]:
citibike_trip_cp['weekend'] = citibike_trip_cp['starttime'].dt.weekday.isin([5, 6]).astype(int)
num_weekend_trips = citibike_trip_cp[citibike_trip_cp['weekend'] == 1].shape[0]
print('Number of trips that started on weekends:', num_weekend_trips)

Number of trips that started on weekends: 115135

### Citibike
    Создайте признак времени суток поездки time_of_day.
    Время суток определяется следующим образом:
    - night (ночь) — с 00:00 до 06:00
    - morning (утро) — с 06:01 до 12:00
    - afternoon (день) — с 12:01 до 18:00
    - evening (вечер) — с 18:01 до 23:59
    Сколько поездок начиналось утром?
    Сколько поездок начиналось днём?
    Сколько поездок начиналось вечером?
    Сколько поездок начиналось ночью?

In [100]:
def get_time_of_day(hour):
    try:
        # Преобразуем вход в число (поддерживает строки вида "12" или "12.0")
        h = int(float(hour))
    except (ValueError, TypeError):
        return None
    # Проверяем, что час в пределах 0–23
    if not 0 <= h <= 23:
        return None
    # Определяем время суток по диапазону
    if h <= 6:          # 0–6
        return "night"
    elif h <= 12:       # 7–12
        return "morning"
    elif h <= 18:       # 13–18
        return "afternoon"
    else:               # 19–23
        return "evening"

citibike_trip_cp['time_of_day'] = citibike_trip_cp['starttime'].dt.hour.apply(get_time_of_day)
num_morning_trips = citibike_trip_cp[citibike_trip_cp['time_of_day'] == 'morning'].shape[0]
num_afternoon_trips = citibike_trip_cp[citibike_trip_cp['time_of_day'] == 'afternoon'].shape[0]
num_evening_trips = citibike_trip_cp[citibike_trip_cp['time_of_day'] == 'evening'].shape[0]
num_night_trips = citibike_trip_cp[citibike_trip_cp['time_of_day'] == 'night'].shape[0]
print('Number of trips that started in the morning/afternoon/evening/night:', num_morning_trips, num_afternoon_trips, num_evening_trips, num_night_trips)

Number of trips that started in the morning/afternoon/evening/night: 95530 143012 46373 15085

### Citibike
    Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени?

In [101]:
mask_afternoon = citibike_trip_cp['time_of_day'] == 'afternoon'
mask_night = citibike_trip_cp['time_of_day'] == 'night'
num_afternoon_trips = citibike_trip_cp[mask_afternoon].shape[0]
num_night_trips = citibike_trip_cp[mask_night].shape[0]
ratio_afternoon_night = num_afternoon_trips / num_night_trips if num_night_trips != 0 else float('inf')
print('Ratio of afternoon trips to night trips:', round(ratio_afternoon_night))

Ratio of afternoon trips to night trips: 9