### Недвижимость в Мельбурне
    Прочитать данные из CSV-файла в DataFrame и вывести информацию о DataFrame.
    Создать копию первоначального DataFrame.
    Вывести информацию о DataFrame и первые строки таблицы.

In [71]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data_ph11.csv', sep=',')
melb_df = melb_data.copy()
melb_data.info()
melb_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

 ### Недвижимость в Мельбурне
    Удалим столбцы index и Coordinates из таблицы.

In [72]:
# melb_df.drop(['index','Coordinates'],axis=1,inplace=True)
if 'index' in melb_df.columns and 'Coordinates' in melb_df.columns:
    melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

### Недвижимость в Мельбурне
    Создавать новые признаки.

In [73]:
# MeanRoomsArea
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom'] # общее количество комнат в здании
melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms # средняя площадь одной комнаты для каждого объекта

# PricePerSqm
melb_df['PricePerSqm'] = melb_df['Price'] / melb_df['BuildingArea'] # цена за квадратный метр

# AreaRatio
diff_area = melb_df['BuildingArea'] - melb_df['Landsize'] # разница между площадью здания и площадью участка
sum_area = melb_df['BuildingArea'] + melb_df['Landsize'] # сумма площади здания и площади участка
melb_df['AreaRatio'] = diff_area/sum_area # отношение разницы площади здания и площади участка к их сумме
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsArea,PricePerSqm,AreaRatio
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20,11746.031746,-0.231707
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80,13101.265823,-0.327660
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75,9766.666667,0.056338
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75,6746.031746,0.145455
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75,11267.605634,0.083969

### Недвижимость в Мельбурне
    Преобразовывать столбцы с датами

In [74]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
display(melb_df['Date'])

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

### Недвижимость в Мельбурне
    За какой интервал времени (в годах) представлены данные, и на какой год приходится наибольшее число продаж?

In [75]:
years_sold = melb_df['Date'].dt.year
print(years_sold)
print('Min year sold:', years_sold.min())
print('Max year sold:', years_sold.max())
print('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Min year sold: 2016
Max year sold: 2017
Mode year sold: 2017

### Недвижимость в Мельбурне
    На какие месяцы приходится пик продаж объектов недвижимости?

In [76]:
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

### Недвижимость в Мельбурне
    Сколько дней прошло с 1 января 2016 года до момента продажи объекта?

In [77]:
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

### Недвижимость в Мельбурне
    Создать признак возраста объекта недвижимости в годах на момент продажи.

In [78]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
# AgeBuilding дублирует информацию столбца YearBuilt - возраст здания, более наглядный
melb_df = melb_df.drop('YearBuilt', axis=1) # удаляем столбец YearBuilt
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

### Недвижимость в Мельбурне
    Создайте в таблице признак WeekdaySale. Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count

In [79]:
melb_df['WeekdaySale'] = melb_df['Date'].dt.weekday
weekend_mask = melb_df['WeekdaySale'].isin([5, 6])
weekend_count = melb_df[weekend_mask].shape[0]
print(weekend_count)

12822

### UFO
    Прочитать данные из CSV-файла в DataFrame и вывести информацию о DataFrame.
    Создать копию первоначального DataFrame.
    Выводим первые строки таблицы

In [80]:
ufo_data = pd.read_csv('data/ufo.csv', sep=',')
ufo_copy = ufo_data.copy()
ufo_copy.info()
print()
ufo_copy.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

### UFO
    Преобразовывать столбцы с датами

In [81]:
ufo_copy['Time'] = pd.to_datetime(ufo_copy['Time'], dayfirst=False)
ufo_copy.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

### UFO
    В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [82]:
years_seen = ufo_copy['Time'].dt.year
print('Min  UFO seen at year:', years_seen.min())
print('Max  UFO seen at year:', years_seen.max())
print('Mode UFO seen at year:', years_seen.mode()[0])

Min  UFO seen at year: 1930
Max  UFO seen at year: 2000
Mode UFO seen at year: 1999

### UFO
    Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [83]:
nv_date = ufo_copy[ufo_copy['State'] == 'NV']['Time']
# Calculate the difference in days between consecutive UFO sightings in Nevada
nv_date_diff = nv_date.diff().dt.days
# Calculate the mean of these differences
mean_nv_diff = nv_date_diff.mean()
print(mean_nv_diff)

68.44876325088339

### Недвижимость в Мельбурне
    Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае.
    Создайте столбец Weekend, примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни.

In [84]:
def get_weekend(weekday):
    if weekday in [5, 6]:
        return 1
    else:
        return 0

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
mean_price_weekend = melb_df[melb_df['Weekend'] == 1]['Price'].mean()
print(round(mean_price_weekend))

1081199

### Недвижимость в Мельбурне
    Преобразуйте столбец SellerG - оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
    Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'

In [85]:
sellers_counts = melb_df['SellerG'].value_counts()
top_49_sellers = sellers_counts.nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_49_sellers else 'other')
min_price_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
ratio_min_prices = min_price_nelson / min_price_other
print(round(ratio_min_prices, 2))

1.3

### Недвижимость в Мельбурне
    Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
    Приведите данные в столбце Suburb к категориальному типу.

In [86]:
melb_df.info() # memory usage: 2.7+ MB
suburb_counts = melb_df['Suburb'].value_counts()
top_119_suburbs = suburb_counts.nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in top_119_suburbs else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info() # memory usage: 2.6+ MB
print(round(2.7 - 2.6, 2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  object
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  object
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  PricePerSqm    13580 non-null  float64
 22  AreaRatio      13580 non-null  float64
 23  MonthSale      13580 non-null  int32
 24  AgeBuilding    13580 non-null  int64
 25  WeekdaySale    13580 non-null  int32
 26  Weekend        13580 non-null  int64
dtypes: datetime64[ns](1), float64(9), int32(2), int64(8), object(7)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  category
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  CouncilArea    12211 non-null  object
 16  Lattitude      13580 non-null  float64
 17  Longtitude     13580 non-null  float64
 18  Regionname     13580 non-null  object
 19  Propertycount  13580 non-null  int64
 20  MeanRoomsArea  13580 non-null  float64
 21  PricePerSqm    13580 non-null  float64
 22  AreaRatio      13580 non-null  float64
 23  MonthSale      13580 non-null  int32
 24  AgeBuilding    13580 non-null  int64
 25  WeekdaySale    13580 non-null  int32
 26  Weekend        13580 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(9), int32(2), int64(8), object(6)
memory usage: 2.6+ MB
0.1