### Успеваемость Студентов
    Прочитать данные из CSV-файла в DataFrame и вывести информацию о DataFrame.

In [23]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Успеваемость Студентов
    Выводим первые n строк таблицы

In [24]:
student_data.head(n=10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

### Успеваемость Студентов
    Данные о скольких студентах содержатся в таблице?

In [25]:
student_data.shape[0]

1000

### Успеваемость Студентов
    Каков балл по письму у студента под индексом 155?

In [26]:
print(student_data.loc[155, 'writing score'])

88

### Успеваемость Студентов
    Сколько суммарно пропущенных значений в таблице?

In [27]:
print((student_data.shape[0] - student_data.count()).sum())

0

### Успеваемость Студентов
    Каков у студентов средний балл по математике?

In [28]:
print(round(student_data['math score'].mean()))

66

### Успеваемость Студентов
    Какая расовая группа является самой крупной в учебном заведении?

In [29]:
student_data['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

### Успеваемость Студентов
    Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [30]:
mask = student_data['test preparation course'] == 'completed'
print(round(student_data[mask]['reading score'].mean()))

74

### Успеваемость Студентов
    Сколько студентов получили 0 баллов по математике?

In [31]:
print(student_data['math score'].value_counts()[0])

1

### Успеваемость Студентов
    Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
    В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [32]:
mask_paid = student_data['lunch'] == 'standard'
mask_free = student_data['lunch'] == 'free/reduced'
mean_paid = student_data[mask_paid]['math score'].mean()
mean_free = student_data[mask_free]['math score'].mean()
print(round(max(mean_paid, mean_free)))

70

### Успеваемость Студентов
    Каков % студентов, родители которых имеют высшее образование уровня бакалавриата?

In [33]:
res = student_data['parental level of education'].value_counts(normalize=True)['bachelor\'s degree'] * 100
print(round(res))

12

### Успеваемость Студентов
    Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [34]:
mask_a = student_data['race/ethnicity'] == 'group A'
median_a = student_data[mask_a]['writing score'].median()
mask_c = student_data['race/ethnicity'] == 'group C'
mean_c = student_data[mask_c]['writing score'].mean()
print(round(abs(median_a - mean_c)))

6